* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    ;
}

:root {
    --tb-colour_navbar: #080b12;
    --tb-colour_main: #424242;
    --tb-colour_footer: #282828;
    --tb-colour_animation: #adff2f;
}

/* #endregion utilities */

/* #region colors */
.bgc-dark {
    background-color: var(--tb-colour_navbar);
}

.bgc-dark1 {
    background-color: #080b12c5;
}

.text-white {
    color: white;
}

.text-light {
    color: #7a7c81;
}

/* #endregion colors */


/* #region spaces */
.p-l {
    padding-left: 40px;
}

.p0 {
    padding: 1.3rem 0;
}

.p1 {
    padding: 1rem;
}

.p-rl {
    padding: 0 0.5rem;
}

.p-tb {
    padding: 0.5rem 0;
}

.m-t {
    margin-top: 0.3rem;
}

.m-t1 {
    margin-top: 1rem;
}

.m-auto {
    margin: auto;
}

.m-tb {
    margin: 2rem 0;
}

.m-l {
    margin-left: 40px;
}

/* #endregion spaces */

/* #region utilities */

.d-flex {
    display: flex;
}



.top {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: var(--tb-colour_main);
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.jc-end {
    justify-content: end;
}

.jc-btw {
    justify-content: space-between;
}

.jc-start {
    justify-content: start;
}

.jc-evenly {
    justify-content: space-evenly;
}


.a-c {
    align-items: center;
}

.a-r {
    align-items: end;
}

.text-center {
    text-align: center;
}

.singer {
    width: 95%;
}


.circle {
    border-radius: 10rem;
}

img {
    width: 100%;
}

.container {
    width: 100%;
    height: 90%
}

.evidence {
    border-bottom: 2px solid #adff2f;
    width: 35%;
    margin: auto;
}

.icon_footer {
    flex-wrap: wrap;
}

.col-30 {
    width: calc(100%/12 * 4);
    flex-wrap: wrap;

}

.col-50 {
    width: calc(100%/2);
}

.title {
    font-size: 28px;
    font-weight: 800;
}

.text-s {
    font-size: 20px;
    font-weight: 800;
}

.text-xs {
    font-size: 10px;
    font-weight: 800;
}

.subtitle {
    font-size: 18px;
    font-weight: 200;
}

.logo-sm {
    display: none;
}

.icon_footer i {
    padding-right: 0.5rem;
}





/* #region main */
.main {
    width: calc(100% - 230px);
    height: 100%;
    background-color: var(--tb-colour_main);
    align-self: end;
    overflow-y: scroll;
}

.navbar {
    width: 230px;
    background-color: var(--tb-colour_navbar);
    height: 100%;
    flex-wrap: wrap;
}

.screen {
    width: 95%;

}

.menu {
    width: 100%;
    height: 100px;
    align-items: center;
    flex-wrap: wrap;
}

.commands {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.logo {
    padding: 1rem 0
}

.upgrade {
    padding: 0.5rem;
    width: 10%;
    margin-right: 2rem;
    border-radius: 1.5rem;
    border: 0.5px solid white;
    flex-wrap: wrap;
}

.green {
    border-left: 0.5px solid var(--tb-colour_animation);
}

.choice {
    margin: 0 1rem;
}

.categories {
    align-self: center;
    font-size: 16px;
    font-weight: 700;
}

.icon {
    width: 30px;
    padding-left: 5px;
    border-left: 10px;
}

.fa-square-plus {
    color: #7a7c81;
    padding: 1.5rem 0;
    padding-right: 0.5rem;
    font-size: 40px;
}

.navbar {
    flex-direction: column;
    justify-content: space-between;
}

.row {
    width: 100%;
    flex-wrap: wrap;
}

[class^="col-"] {
    padding-right: 1rem;
}

.icon-cnt {
    position: relative;
    display: none;
}

.icon-cnt>i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

li {
    list-style: none;
    padding: 0.5rem 0;

}

.img_footer {
    width: 35px;
    height: 35px;


}

.playlist ul {
    height: 250px;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.menu_top,
.menu_bottom {
    padding-left: 0.5rem;
    margin: 0 1rem;
}

.singer:hover .hover-img {
    display: block;
}

.text-center {
    text-align: center;
}

/* #endregion main */

/* #region footer */

footer {
    width: 100%;
    height: 80px;
    background-color: var(--tb-colour_footer);
    justify-content: space-between;
    z-index: 1;
}



.player .left,
.player .right {
    width: 230px;
}

.player .center {
    width: 50%;
}

.center .controls {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

.center .time {
    display: flex;
    align-items: center;
}

.time {
    display: flex;
    align-items: center;
}

.time-togo {
    flex-grow: 1;
    background-color: lightgray;
    height: 4px;
    border-radius: 2px;
}

.time-gone {
    width: 100px;
    background-color: green;
    display: none;
    height: 4px;
    border-radius: 2px;
}

.time-end
/* #endregion footer */

/* #region animation */
.highlight:hover {
    color: white;
}

.upgrade:hover {
    width: 11%;
    font-size: 14px;
    padding: 0.7rem 0;
}

.icon-cnt:hover {
    display: block;
}


.time-togo:hover .time-gone {
    display: block;
}

/* .icon-hover:hover {
    display: block;
} */

/* #endregion animation */

/* #region media query */


/* tablet */
@media screen and (max-width: 1200px) {
    .col-md-6 {
        width: calc(100%/12 * 6);
    }

    .upgrade {
        width: 20%;
    }
}

/* tablet sm*/

@media screen and (max-width: 768px) {
    .col-sm-12 {
        width: calc(100% / 12 * 12);
    }

    .upgrade {
        width: 40%;
    }
}


/* mobile */
@media screen and (max-width: 576px) {
    .upgrade {
        width: 50%;
    }

    .main {
        width: calc(100% - 50px);
    }

    .navbar {
        width: 50px;
    }

    .logo-sm {
        display: inline;
        width: 30px;
    }

    .logo-l {
        display: none;
    }

    .menu_bottom,
    .menu_top {
        margin: 0;

    }

    .commands img {
        padding: 0.3rem 0;
    }

    .playlist {
        display: none;
    }

    span,
    b,
    hr {
        display: none;
    }

    .col-30>h5,
    .icon_footer,
    .col-30>span {
        display: none;
    }


}